:root {
    --white: #fff;
    --dark-blue: #041E42;
    --red: #9b1c2c;
}

html {
    scroll-behavior: smooth    ;
}

header {
    padding: 30px;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
}

.header h1 {
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: var(--red);
    color: var(--white);
    flex-wrap: wrap;
}

.top-anchor-tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 2em;
}

header a{
    color: var(--white);
    margin-bottom: none;
    margin-right: 20px;
    padding: 5px;
    font-size: 18px;
}

.subheader {
    display: flex;
    background-color: var(--red);
    color: var(--white);
    justify-content: center;
    padding: 20px;
}

.subheader h2 {
    font-size: 1.5em;
}

.subheader-image {
    display: flex;
    background-color: var(--white);
    justify-content: center;
    padding: 20px;
}

.content {
    background-color: var(--dark-blue);
    color: var(--white);
}


#about-me {
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#about-me h2 {
    font-size: 50px;
    margin-bottom: .5em;
    text-decoration: underline;
}

#about-me p {
    line-height: 1.2em;
    margin-bottom: 32px;
    margin-right: 75px;
    margin-left: 75px;
}

#work h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

body {
   
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px #ccc solid;
    padding: 10px; 
}

.flex-container .box-main {
    flex-basis: 100%;
    width: 900px;
    height: 400px;
    background-image: url("/CSS/images/MagicMenu.png");
    max-width: 100%;
    
}

#work a {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

#work h3 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#work h2 {
    font-size: 50px;
    text-decoration: underline;
}

.container {
    font-size: 20px;
    display: flex;
    width: 400px;
    height: 300px;
    text-align: center;
    border: 15px #fff;
}

#magicMenu {
    margin: 10px;
}

.box-main {
    display: flex;
    width: 400px;
    height: 400px;;
    margin: 20px;
    padding: 20px;
    border: 9px solid var(--red);
    flex-direction: column;
    max-width: 100%;
    background-image: url("../CSS/images/MagicMenu.png")!Important;
    max-width: 100%;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: url("../CSS/images/ocean\ with\ tiny\ islands\ .png");
    margin: 20px;
    padding: 20px;
    border: 9px solid var(--red);
    flex-direction: column;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: url("../CSS/images/pic\ of\ ocean\ with\ flamingos\ flying\ above\ the\ water.png") ;
    margin: 20px;
    padding: 20px;
    border: 9px solid var(--red);
    flex-direction: column;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: url("../CSS/images/pic\ of\ sea\ turtle\ underwater\ .png");
    margin: 20px;
    padding: 20px;
    border: 9px solid var(--red);
    flex-direction: column;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: url("../CSS/images/pic\ of\ water\ with\ trees\ and\ mountains\ in\ the\ background.png");
    margin: 20px;
    padding: 20px;
    border: 9px solid var(--red);
    flex-direction: column;
}

.box4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: url("../CSS/images/ocean\ with\ tiny\ islands\ .png");
    margin: 20px;
    padding: 20px;
    border: 9px solid var(--red);
    flex-direction: column;
}


#contact-me {
    background-color: var(--red);
}

.footer-links {
    display: flex;
    background-color: var(--red);
    color: var(--white);
    flex-wrap: wrap;
}

#contact-me h2 {
    font-size: 50px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    background-color: var(--red);
    margin-bottom: 10px;
    color: var(--white);
    padding: 5px;
}

#contact-me a{
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
    padding: 5px;
    font-size: 18px;
}

#resume {

}


@media screen and (max-width: 768px) {
  main,
  nav, body, footer {
    flex-direction: column;
  }
}